<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的記帳本</title>
    <link href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/pickadate/themes/classic.date.css" rel="stylesheet" />
    <link href="~/Scripts/pickadate/themes/classic.css" rel="stylesheet" />
    <link href="~/Scripts/pickadate/themes/classic.time.css" rel="stylesheet" />
    <link href=@Url.Action( "Index", "Feeds", new { area = "" } ) rel="alternate" type="application/rss+xml" />
    @RenderSection( "head", required: false )
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">我的記帳本</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href=@Url.Action( "Index", "Record", new { area = "" } )>首頁</a></li>
                    <li><a href=@Url.Action( "Index", "Search", new {area = ""})>搜尋</a></li>
                    <li><a href="#">連絡方式</a></li>
                </ul>
                @Html.Partial( "_LogInPartial" )
            </div>
        </div>
    </div>
    <br /><br /><br />
    @RenderBody( )
    @RenderSection( "scripts", required: false )
</body>
</html>